* {
  margin: 0;
  padding: 0;
}

body {
  background: #9D27D3;
}

.ide {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 90%;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}
